<h2>SOCKET CLIENT</h2>

<form id="formulario">
	Message:
	<input type="text" name="message" id="message" />
	<input type="submit" value="ENVIAR" />
</form>

{{! script para el cliente }}
<script src="/socket.io/socket.io.js"></script>
{{! todas las funconalidades que el cliente necesita para trabajar con socket.io }}
{{!  }}
<script src="js/index.js"></script>