<h2>BIENVENIDO</h2>

<form action="/users" method="post">

	Nombre:
	<input type="text" name="nombre" id="nombre" />
	Email:
	<input type="email" name="email" id="email" />
	Password:
	<input type="password" name="contrasena" id="contrasena" />
	<input type="submit" value="INGRESAR" />

</form>